{% extends 'base.html' %}

{% block title %}
    Document
{% endblock title %}



{% block content %}
<main>
    <h1>My Receipts</h1>
    {% comment %} Create a table. Table head which contains 1 row with multiple
    table headers. {% endcomment %}
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        {% comment %} create the table body that has 1 row with multiple table data points.
        use the for loop to loop through the view receipt_list that points to
        the model Receipe. Returns multiple iterations for multiple receipts. {% endcomment %}
        <tbody>
            {% for items in receipt_list %}
            <tr>
                <td>{{ items.vendor }}</td>
                <td>{{ items.total }}</td>
                <td>{{ items.tax }}</td>
                <td>{{ items.date|date:"m/j/y" }}</td>
                <td>{{ items.category.name }}</td>
                <td>{{ items.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
